.wrapper {
    border-top: 1px solid rgba(22, 24, 35, 0.1);
    margin-top: 8px;
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 500;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    line-height: 1;
    font-size: 1.6rem;
    color: var(--text-color);
}

.check {
    font-size: 1.4rem;
    color: var(--check-color);
    margin-left: 4px;
}

.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.more-btn {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary);
    cursor: pointer;
}
